
body {
  font-family: 'Avenir', sans-serif;
  color: #252626;
  justify-content: center;
  padding-top: 20px;
  padding-left: 300px;
  padding-right: 300px;
  padding-bottom: 20px;
}


h1 {

  border: 1px solid #252626;
  text-align: center;
  margin: 6px;
  padding: 6px;
}

h3 {
  border: 1px solid #252626;
  margin: 6px;
  padding: 6px;

}

h4 {

  font-size: 15px;
  margin: 6px;
  padding: 6px;
  background-color: #e8eade;

}
h5 {

}

select {
margin: 0 auto 20px auto;
display: block;
font-size: 18px;
padding: 6px;
}

img {
  display: inline-block;
  border: 1px solid #252626;
  margin: 6px;
  padding: 6px;
}


.details {
  display: flex;
  justify-content: space-around;
  border: 1px solid #252626;
  margin: 6px;
  padding: 6px;
  /* background-color: beige; */
}

li {
  display: flex;
  justify-content: flex-start;
}

p {
  /* padding: 6px; */
}

.list-heading {
  color: white;
}

.selector {
  /* justify-content: center; */
  margin: 0 auto 20px auto;
  display: block;
  font-size: 20px;
}

.artist {
  margin: 6px;
  padding: 6px;
}

.single-singleEvent {
  /* margin: 6px;
  padding: 6px; */
  background: blue;
}

.single-document{
  background: green;
}

.single-permission {
  background: teal;
}

.single-artist {
  background: yellow;
}

.single-multiEvent {
  background: magenta;
}

.single-group {
  background: orange;
}

.single-physicalAsset {
  background: pink;
}

.main-title {
  font-weight: bold;
  color: white;
  background: red;
  margin: 8px;
  padding: 8px;
}

.artist-singleEvent-container {

  border: 1px solid #252626;
  margin: 6px;
  padding: 6px;
}
/* li {
  display: flex-grid;
} */
